/* para deixar o menu ao lado do
logo, selecionamos o pai desses
dois elementos */
.cabecalhoPrincipal .container {
    /* habilitando o flexbox */
    display: flex;
    /*alinhando os elementos
    filhos ao centro */
    align-items: center;
    /* cada elemento deve ficar em
    um canto da tela, ou seja, o
    espaco que sobrar na linha,
    ficara entre os elementos */
    justify-content: space-between;
}

/* selecionando o pai dos itens do
menu, para deixa-los lado a lado */
.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    /* antes de justificar o conteudo,
    sera necessario colocar o espaco
    no qual esse conteudo vai ficar */
    width: 60%;
    /* uma margem a direita, para a
    lista nao ficar grudada no form */
    margin-right: 5%;
    /* a propriedade space-around
    dividide igualmente o espaco
    disponivel entre margens dos
    elementos */
    justify-content: space-around;
}

.rodapePrincipal-contatoForm {
    /* fazendo com que o form ocupe os
    35% restantes no container do rodape
    dos patrocinadores*/
    width: 30%;
    /* margem a esquerda, pois se fosse a
    direita, os 5% desta seriam somados
    ao que restasse a direita do bloco,
    ja que o elemento se ajusta a esquerda
    do espaco disponivel */
    margin-left: 5%;
}

.rodapePrincipal-contatoForm-fieldset {
    /* colocando botao ao lado e com o
    mesmo tamanho do input*/
    display: flex;

}

/* apos envolver cada lista em uma tag ul */
.navmap-list {
    display: flex;
    /* mundando a direcao padrao do conteudo
    da lista de linha (row), para coluna
    (colunm) */
    flex-direction: column;
}

.rodapePrincipal-navMap-list {
    /* deixando as listas lado a lado */
    display: flex;
    justify-content: space-between;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

.videoSobre .container {
    /* video e sobre lado a lado */
    display: flex;
    /* colocando espacamento */
    justify-content: space-between;
}

.videoSobre-sobre-list {
    /* aumentando a altura do texto Para
    que este ocupe todo o espaco restante
    e empurre o botao para baixo */
    flex-grow: 1;
}

.videoSobre-sobre {
    /* para deixar todos os elementos
    em coluna, assim igualando suas
    larguras, e fazendo com que o botao
    ocupe todo o espaco */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* aumentando o espaco dado a descricao
    do video */
    flex-grow: 2;
    /* o video deve diminuir duas vezes mais
    do que todos os itens da pagina, conforme
    a pagina for encolhida */
    flex-shrink: 2;
}

/* "videoSobre-video" e "videoSobre-sobre"
ocuparao respectivamente 1 e 2 partes de 3
do espaco disponivel entre eles */
.videoSobre-video {
    flex-grow: 1;
}


/*----------------mobile---------------*/

@media(max-width: 768px) {

    .cabecalhoPrincipal-nav {
        display: flex;
        /* em primeiro lugar, empilha-se o
        conteudo do menu */
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        display: flex;
        /* colocando "alurinha"
        e menu empilhados */
        flex-direction: column;
        /* o alinhamento dos itens agora que
        o container esta em colunas
        centraliza-os horizontalmente,entao
        é necessario setar para o valor
        inicial */
        align-items: initial;
        /* centralizando o texto normalmente */
        text-align: center;
    }

    .conteudoPrincipal-cursos {
        /* os cursos devem estar empilhados */
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        /* ocupando toda a largura da tela */
        width: 100%;
    }


    .rodapePrincipal-navMap-list {
        /* colocar as listas do mapa de cursos
        empilhadas */
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores .container{
        /* empilhar ul de logos com form */
        flex-direction: column;

    }

    .rodapePrincipal-patrocinadores-list {
        /* ocupar a largura toda da pagina */
        width: 100%;
        /* retirar margens */
        margin: 0;
    }

    .cabecalhoPrincipal-nav-link-app {
        /* colocando o link para o app antes
        dos outros links, trocando o padrao
        do order de 0 para -1, lembrando que
        essa propriedade deve ficar no item, e
        nao no pai */
        order: -1;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-video {
        /* centralizando o video */
        margin: 0 auto;
    }
}
